* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background-image: url("images/background.jpg");
  background-size: 100%;
}

.content {
    margin-top: 2%;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a.navbar-brand {
  float: left;
  display: block;
  color: bisque;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: large;
}

.navbar a.nav-link {
  float: left;
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.selected {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  display: block;
  color: gold;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  float: right;
}

.navbar a.nav-link:hover {
  color: white;
}

.navbar a.right:hover {
  color: goldenrod;
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

.bilkent_emblem {
    width:5%;
    height:8%;
    float:left;
    position: absolute;
    bottom: 1%;
}

.row {
  display: flex;
  height: 100%;
  margin-left: 18%;
  margin-right: 18%;
}

.column {
  flex: 25%;
  text-align: center;
  padding-top: 5%;
}

.column:hover {
  background-color: gainsboro;
  border-radius: 5%;
}

.document-icon {
  width: 50%;
  height: 50%;
}

.report {
  text-align: center;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
